<div class="container">
	<div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3">
		<% favorite.forEach(function(favorite) { %>
			<div class="row">
				<div class="more-deets">
						<img class="larger-thumb" src="<%= favorite.image %>">
						<p class="title"><%= favorite.title %></p>
						<p class="author">by <%= favorite.author %><p>
						<p class="isbn">ISBN <%= favorite.isbn %></p>
						<p class="rating">Average rating: <%= favorite.rating %></p>
						<p class="pageCount"><%= favorite.pageCount %> pages</p>
						<p class="description"><%= favorite.description %>.</p>
						<a href="/my-list"><button class="btn btn-default" id="back-to-list">Back to My List</button></a>
				</div>
			</div>
		<% }); %>	
		
	</div>
</div>