<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="details">

			<p class="title"><%= favorite.title %></p>
			<p class="author">by <%= favorite.author %><p>
			<p class="isbn">ISBN <%= favorite.isbn %></p>
			<p class="rating">Average rating: <%= favorite.rating %></p>
			<p class="pageCount"><%= favorite.pageCount %> pages</p>
			<p class="description"><%= favorite.description %>.</p>


		</div>
	</div>
</div>