<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="details">
			<p class="title"><%= book[0].title %></p>
			<p class="author">by <%= book[0].author %><p>
			<p class="isbn">ISBN <%= book[0].isbn %></p>
			<p class="rating">Average rating: <%= book[0].rating %></p>
			<p class="pageCount"><%= book[0].pageCount %> pages</p>
			<p class="description"><%= book[0].description %></p>
			</p>
		</div>
	</div>
</div>