<div class="container">
	<div class="col-md-8 col-md-offset-3">
		<h1 class="mylist">My List</h1>


		<% favorites.forEach(function(favorite) { %>

			<div class="row">
				<div class="fav-list">
					<a href="/my-list/<%= currentUser.id %>/<%= favorite.isbn %>"><img class="thumbnail" src="<%= favorite.image %>"></a>
					<a href="/my-list/<%= currentUser.id %>/<%= favorite.isbn %>"><h3><%= favorite.title %></h3></a><br>
					<h4>by <%= favorite.author %></h4>	
					<a href="/my-list %>" class="delete-link"><button class="btn btn-default delete-btn" type="submit" data-favorite-id="<%= favorite.id %>">Remove from My List</button></a>	
				</div>
			</div>

		<% }); %>
	</div>
</div>

