<!-- <div class="container">
	<div class="col-md-8 col-md-offset-2">
		<h1>My List</h1>
			<div class="well well-sm">
				<h2><a href="/movies/<%= favorite.imdbID %>"><%= favorite.title %> (<%= favorite.year %>)</a></h2>
				<a class="delete-btn" href="/favorites/<%= favorite.imdbID %>"><button id="delete-btn">Delete</button></a>
				<a class="comments" href="favorites/<%= favorite.imdbID %>/comments"><button id="comments-btn">Comments</button></a>
				<a class="tags" href="/favorites/<%= favorite.imdbID %>/createtag"><button id="tags-btn">Add a Tag</button></a>
			</div>
	</div>
</div> -->